<section id="login">
  <div class="bwm-form">
    <div class="row">
      <div class="col-md-5">
        <h1 class="page-title">Login</h1>
        <form>
          <div class="form-group">
            <label for="emailOrPhone"><b>emailOrPhone</b></label>
            <input  [(ngModel)]="credentials.emailOrPhone"  type="text" 
              placeholder="Enter emailOrPhone" 
              name="emailOrPhone" 
              required>
            </div>
          
            <div class="form-group">
              <label for="Password"><b>Password</b></label>
              <input [(ngModel)]="credentials.Password" 
              type="Password" 
              placeholder="Enter Password" 
              name="Password" 
              required>
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="button" (click)="login()">Sign in</button>
        </form>
      </div>
    </div>
  </div>
</section>













<!-- <div class="container">
  <div class="row">
      <div class="cal-md-6 mt-5 mx-auto">
          <form (ngSubmit)="login()">
              <h1 class="h3 md-3 font-weight-normal">Please sign in</h1>
              <div class="form-group">
                  <label for="emailOrPhone">emailOrPhone</label>
                  <input type="emailOrPhone" class="form-control" name="emailOrPhone" placeholder="Enter emailOrPhone" 
                  (ngmodel)="credentials.emailOrPhone" >
              </div>
              <div class="form-group">
                  <label for="Password">Password</label>
                  <input type="Password" class="form-control" name="Password" placeholder="Enter Password"
                  (ngmodel)="credentials.Password">
              </div>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          </form>
      </div>
  </div>
</div> -->


<!--  [(ngmodel)]="credentials.emailOrPhone" -->